name: Backend CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    services:
      mongodb:
        image: mongo:7
        ports:
          - 27017:27017
        options: >-
          --health-cmd="mongosh --eval 'db.runCommand({ping: 1})'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get short Git SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Start services (Docker Compose)
        run: |
          docker compose up -d --build
          echo "Ждём запуска сервисов..."
          sleep 30

      - name: Test Gateway → Menu Service
        run: |
          curl -f http://localhost:5000/api/menu > /dev/null || exit 1
          echo "Меню работает!"

      - name: Test Auth Service (register test user)
        run: |
          curl -X POST http://localhost:5002/register \
            -H "Content-Type: application/json" \
            -d '{"name":"ci-test","email":"ci@test.com","password":"123456"}' || exit 1
          echo "Регистрация прошла!"

      - name: Build & Push Docker Images (only on push)
        if: github.event_name == 'push'
        run: |
          TAG=${{ steps.vars.outputs.sha_short }}
          REPO=${{ secrets.DOCKERHUB_USERNAME }}

          docker build -t $REPO/restaurant-gateway:latest -t $REPO/restaurant-gateway:$TAG ./gateway
          docker build -t $REPO/restaurant-auth:latest -t $REPO/restaurant-auth:$TAG ./auth-service
          docker build -t $REPO/restaurant-menu:latest -t $REPO/restaurant-menu:$TAG ./menu-service
          docker build -t $REPO/restaurant-orders:latest -t $REPO/restaurant-orders:$TAG ./order-service

          docker push $REPO/restaurant-gateway --all-tags
          docker push $REPO/restaurant-auth --all-tags
          docker push $REPO/restaurant-menu --all-tags
          docker push $REPO/restaurant-orders --all-tags

          echo "ВСЕ ОБРАЗЫ ЗАГРУЖЕНЫ В DOCKER HUB!"

      - name: Success
        run: echo "CI/CD прошёл успешно!"