name: Backend CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Start all services
        run: docker compose up -d --build

      - name: Wait for MongoDB to be healthy
        run: |
          until docker compose exec mongodb mongosh --eval "db.runCommand({ping: 1})" | grep -q 1; do
            echo "Ждём MongoDB..."
            sleep 5
          done
          echo "MongoDB готова!"

      - name: Wait for Menu Service
        run: |
          for i in {1..30}; do
            if curl -f http://localhost:5001/ >/dev/null 2>&1; then
              echo "Menu Service готова!"
              break
            fi
            echo "Ждём menu-service... ($i/30)"
            sleep 3
          done

      - name: Test Gateway → Menu
        run: |
          curl -f http://localhost:5000/api/menu || exit 1
          echo "GATEWAY + MENU = ОГОНЬ!"

      - name: Test Auth Registration
        run: |
          curl -X POST http://localhost:5002/register \
            -H "Content-Type: application/json" \
            -d '{"name":"test","email":"test@example.com","password":"123456"}' || exit 1

      - name: Push to Docker Hub
        if: github.event_name == 'push'
        run: |
          TAG=$(git rev-parse --short HEAD)
          REPO=${{ secrets.DOCKERHUB_USERNAME }}

          docker build -t $REPO/restaurant-gateway:latest -t $REPO/restaurant-gateway:$TAG ./gateway
          docker build -t $REPO/restaurant-auth:latest -t $REPO/restaurant-auth:$TAG ./auth-service
          docker build -t $REPO/restaurant-menu:latest -t $REPO/restaurant-menu:$TAG ./menu-service
          docker build -t $REPO/restaurant-orders:latest -t $REPO/restaurant-orders:$TAG ./order-service

          docker push $REPO/restaurant-gateway --all-tags
          docker push $REPO/restaurant-auth --all-tags
          docker push $REPO/restaurant-menu --all-tags
          docker push $REPO/restaurant-orders --all-tags

      - name: SUCCESS
        run: echo "Все работает"