name: Backend CI

on:
  push:
    paths:
      - 'gateway/**'
      - 'auth-service/**'
      - 'menu-service/**'
      - 'order-service/**'
      - 'docker-compose.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mongodb:
        image: mongo:7
        ports:
          - 27017:27017

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - run: |
          cd gateway && npm install
          cd ../auth-service && npm install
          cd ../menu-service && npm install
          cd ../order-service && npm install

      - run: docker-compose up -d
      - run: sleep 20

      - run: curl -f http://localhost:5000/api/menu || exit 1
      - run: echo "ВСЁ РАБОТАЕТ!"